<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432424442304-71vpu176h9rukqdtiipv1622ni9h0qul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432424442304-71vpu176h9rukqdtiipv1622ni9h0qul</string>
	<key>API_KEY</key>
	<string>AIzaSyAcM5ZhiN6wltBLtugW1zNyP5Na59Fprpg</string>
	<key>GCM_SENDER_ID</key>
	<string>432424442304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Buddhimal-cobsccomp191p-034.NIBM-Covid19</string>
	<key>PROJECT_ID</key>
	<string>nibm-covid-19</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-covid-19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432424442304:ios:a3942c1f61b38894541025</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-covid-19.firebaseio.com</string>
</dict>
</plist>